body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    font-size: 24px;
    margin: 20px 0;
    text-align: center;
}

.cart {
    width: 60%;
    background-color: #66789c;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.cart-item {
    display: flex;
    justify-content: space-between; /* 這裡使用 space-between 將內容分開 */
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #8997b1;
    border-radius: 8px;
}

.product-image {
    height: 80px;
    width: 80px;
    border-radius: 8px;
    margin-right: 20px;
}

.details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 20px; /* 添加右邊的邊距，防止商品名稱跟刪除按鈕太靠近 */
}

.controls {
    display: flex;
    align-items: center;
}

.controls button {
    background-color: #495570;
    border: none;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
}

.controls button:hover {
    background-color: #3b4563;
}

.quantity {
    font-size: 16px;
    font-weight: bold;
}

.price {
    margin-top: 10px;
}

.delete {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete:hover {
    background-color: #c9302c;
}

.total {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    text-align: right;
}
