* {
    margin: 0;
    padding: 0;
}

header {
    color: white;
    background-color: black;
    flex-direction: row;
}

/* 總之是商品的css影該不會撞名吧 */
.content-container {
    /* display: flex; */
    /* justify-content: space-between; 使兩個元素分開 */
    /* align-items: flex-start; 垂直對齊到頂部 */
    /* flex-grow: 1; 使內容區域填滿剩餘的空間  */
}

article {
    flex: 1;
    /* 讓 <article> 占據剩餘的空間 */
    padding: 20px;
    /* background-color: #dde4ee; 增加背景色來區分 */
}

.Productbox {
    margin: 7%;
    background: #dddddd;
    /* 背景顏色 */
    border: 2px solid transparent;
    /* 邊框透明，保持形狀但不顯示顏色 */
    border-radius: 50px;
    /* 邊框圓角 */
    box-sizing: border-box;
    /* 確保背景顏色不會超出邊框 */
}