* {
    margin: 0;
    padding: 0;
}



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}


header {
    color: white;
    background-color: #1c2734;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    z-index: 1;
    position: fixed;
    /* 固定 header */
    top: 0;
    /* 距離頁面頂部為 0 */
    left: 0;
    /* 距離頁面左邊為 0 */
    right: 0;
    /* 距離頁面右邊為 0 */
    width: 100%;
    /* 讓 header 填滿整個寬度 */

    a {
        text-decoration: none;
        /* 去掉底線 */
        color: inherit;
        /* 使顏色繼承自父元素，避免變色 */
    }

    a:hover {
        color: inherit;
        /* 在懸停時也不改變顏色 */
    }


    h1 {
        font-style: italic;
    }

    .search {
        flex: 1;
        text-align: center;
    }

    .search-input {
        border-radius: 21px;
        /* 調整這個值來改變橢圓的形狀 */
        padding: 7px 20px;
        /* 調整內邊距來改變輸入框的高度和寬度 */
        border: 1px solid #a93535;
        /* 邊框顏色和樣式 */
        outline: none;
        /* 移除輸入框的默認外框 */
        width: 500px;
    }

    button {
        background-color: transparent;
        /* 設置背景顏色為透明 */
        border: none;
        /* 移除邊框 */
        cursor: pointer;
        /* 設置鼠標樣式為指針 */
        color: white;
    }

    .icon {
        display: flex;
        gap: 10px;
        /* 在圖示之間添加空隙 */
    }

}

.container {
    display: grid;
    grid-template-columns: auto auto;
    flex: 1;
}

.box {
    display: grid;
    /*排版分支*/
    grid-template-rows: auto auto;
}

.LAN {
    grid-row: 1/2;
}

.cold {
    grid-row: 2/3;
}

aside {
    grid-column: 1/2;
}

article {
    grid-column: 2/3;
}

/* 側邊選單 */
/* 主選單 */
.sideMenu {
    width: 250px;
    height: auto;
    min-height: 1309px;
    background-color: #b1bed2;
    border-right: 3px solid #d1d1d1;
    display: flex;
    /* 主軸 */
    flex-direction: column;
    box-shadow: 5px 0 5px rgba(23, 23, 54, 0.6);
    position: absolute;
    top: 59px;
    bottom: 10px;
    left: 0;
    z-index: 0;

    /* 將 sideMenu 左橫移 100%，使他到螢幕外 */
    transform: translateX(-100%);
    /* 側邊選單收合的時間差 */
    transition: 0.5s;

    p {
        text-align: center;
        display: flex;
        padding: 10px 90px;
        font-style: italic;
    }

    a,
    label {
        cursor: pointer;
    }

    label {
        width: 20px;
        height: 80px;
        background-color: #b1bed2;
        color: #477aa4;
        /* 絕對定位在 sideMenu 上 */
        position: absolute;
        right: -20px;
        top: 0;
        margin: auto;
        line-height: 80px;
        text-align: center;
        border-radius: 0 5px 5px 0;
        box-shadow: 5px 0 5px rgba(23, 23, 54, 0.6);
    }
}

#sideMenu-active:checked+.sideMenu {
    transform: translateX(0);

    /* 當我點擊 sideMenu 時，checkbox 會啟動 id，讓側邊選單跑出來 */
    label .fas {
        /* 使 label 裡的圖案橫向反轉 */
        transform: scaleX(-1);
    }
}

#sideMenu-active {
    position: absolute;
    /* 使 checkbox 變透明 */
    opacity: 0;
    /* 為了保險不要讓該功能還選得到，可將其排序往後跳 */
    z-index: -1;
}

.side {
    a {
        text-decoration: none;
        font-weight: 300;
        display: block;
        color: #151626;
        padding: 20px 10px;
        position: relative;

        /* 將 border-top 新增到每個選單項目的底部 */
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 10px;
            right: 10px;
            border-top: 1px dashed #ffffff;
            transform: scaleX(0);
            transition: transform 0.3s ease-in-out;
        }

        /* 選單項目的懸停狀態 */
        &:hover::after {
            transform: scaleX(1);
        }

        i {
            margin-right: -1.1em;
            transform: scale(0);
            /* 使圖示消失 */
            transition: 0.3s;
        }

        &:hover i {
            /* 使文字回到原來的位置 */
            margin-right: 0em;
            /* 使圖示出現 */
            transform: scale(1);
        }

        &+a::before {
            content: "";
            position: absolute;
            left: 10px;
            right: 10px;
            top: 0px;
        }
    }
}

/* 子選單的樣式 */
.submenu {
    position: relative;
}

.submenu-items {
    display: none;
    padding-left: 20px;
    background-color: #98a3b3;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    height: 0;
    overflow: hidden;

    a {
        color: #f2e0dc;
    }
}

.submenu.active .submenu-items {
    display: block;
    opacity: 1;
    height: auto;
}

footer {
    z-index: 2;
    text-align: center;
    font-size: 12px;
    padding: 10px 0;
    background-color: #182937;
    color: white;
    margin: 0;

    a {
        text-decoration: none;
        /* 去掉底線 */
        color: inherit;
        /* 使顏色繼承自父元素，避免變色 */
    }

    a:hover {
        color: #425a76;
    }
}


/*購物車*/
/*購物車內部*/
/*垃圾桶按鈕*/
.lineicons--trash-can {
    display: inline-block;
    width: 30px;
    height: 30px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23000' d='M48.9 8.8h-7.7V7.1c0-3-2.4-5.4-5.4-5.4h-7.7c-3 0-5.4 2.4-5.4 5.4v1.7H15c-2.9 0-5.3 2.4-5.3 5.3v3c0 2.2 1.3 4 3.2 4.8l1.6 34.6c.2 3.3 2.8 5.8 6.1 5.8h22.5c3.3 0 6-2.6 6.1-5.8L51 21.8c1.9-.8 3.2-2.7 3.2-4.8v-3c0-2.8-2.4-5.2-5.3-5.2M27.3 7.1c0-.5.4-.9.9-.9h7.7c.5 0 .9.4.9.9v1.7h-9.4V7.1zm-13 7c0-.4.3-.8.8-.8h33.8c.4 0 .8.3.8.8v3c0 .4-.3.8-.8.8H15.1c-.4 0-.8-.3-.8-.8zm28.9 43.7H20.8c-.9 0-1.6-.7-1.6-1.5l-1.6-33.9h28.9l-1.6 33.9c-.1.8-.8 1.5-1.7 1.5'/%3E%3Cpath fill='%23000' d='M32 32.4c-1.2 0-2.3 1-2.3 2.3v12.7c0 1.2 1 2.3 2.3 2.3c1.2 0 2.3-1 2.3-2.3V34.7c0-1.3-1.1-2.3-2.3-2.3m8 2c-1.3-.1-2.3.8-2.4 2.1l-.6 8.8c-.1 1.2.8 2.3 2.1 2.4h.2c1.2 0 2.2-.9 2.2-2.1l.6-8.8c0-1.3-.9-2.3-2.1-2.4m-16.1 0c-1.2.1-2.2 1.2-2.1 2.4l.7 8.8c.1 1.2 1.1 2.1 2.2 2.1h.2c1.2-.1 2.2-1.2 2.1-2.4l-.7-8.8c0-1.3-1.1-2.2-2.4-2.1'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    background-color: #1c2734;
}

.card-shop {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* 確保內容從上到下排列 */
    align-items: flex-start;
    /* 使內容靠左對齊 */
    width: 600px;
    padding: 50px;
    background-color: #adbacf;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.productimage {
    height: 100px;
    width: auto;
    margin-right: 20px;
    /* 如果需要圖片和其他內容之間有間距 */
    align-self: flex-start;
    /* 確保圖片靠左 */
}




main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* 垂直居中 */
    align-items: center;
    /* 水平居中 */
    min-height: calc(100vh - 120px);
    /* 確保頁面內容區域有足夠空間，扣掉 header 和 footer 高度 */
    padding: 50px;
}

/* 外層卡片置中 */
.cardbuyer {
    /* 設定與上方元素的間距 */
    margin-top: 30px;

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    padding: 50px;
    background-color: #adbacf;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}


/* 輸入框樣式 */
input[type="text"] {
    width: 100%;
    height: 30px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* 文字 */
p {
    color: white;
}

h3 {
    color: white;
}

.orderalert {

    font-weight: bold;
    color: red;
    text-align: left;
    margin-bottom: 40px;
    /* 調整距離底部的間距 */
    width: 100%;
    /* 使其寬度與父容器相同，對齊左側 */
    padding-left: 10px;
    /* 如果需要加點內邊距來讓文字不緊貼左邊 */
}



/*結帳按鈕*/
.getshop {
    border: 0;
    background-color: #374f6c;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
}

.getshop:hover {
    color: #374f6c;
    background-color: #fff;
    border: 2px #374f6c solid;
}

/*購物車內商品*/


.cart-item {
    display: flex;
    justify-content: space-between;
    /* 這裡使用 space-between 將內容分開 */
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #8997b1;
    border-radius: 8px;
}

.product-image {
    height: 80px;
    width: 80px;
    border-radius: 8px;
    margin-right: 20px;
}

.details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 20px;
    /* 添加右邊的邊距，防止商品名稱跟刪除按鈕太靠近 */
}

.controls {
    display: flex;
    align-items: center;
}

.controls button {
    background-color: #495570;
    border: none;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
}

.controls button:hover {
    background-color: #3b4563;
}

.quantity {
    font-size: 16px;
    font-weight: bold;
}

.price {
    margin-top: 10px;
}

.delete {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.delete:hover {
    background-color: #c9302c;
}

.total {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    text-align: right;
}

.card-footer {
    color: #a93535;
    font-weight: bolder;
    text-align: right !important;
}

/*visa版面*/
.visastyle {
    /* 設定與上方元素的間距 */
    margin-top: 30px;

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    padding: 50px;
    background-color: #adbacf;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.card-body {
    padding: 20px;
}